## Creating a Simple Lambda Function

In [ ]:
# Example 1: Basic lambda function to double a number
double = lambda x: x * 2
print("Double of 5:", double(5))  # Output: 10

## Creating a Lambda Function with map() for mapping List values to X

In [ ]:
# Example 2: Using lambda with map to square numbers
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x ** 2, numbers)
print("Squared numbers:", list(squared))  # Output: [1, 4, 9, 16, 25]

## Creating a Lambda Function with filter() to conditionally filter the input values

In [ ]:
# Example 3: Using lambda with filter to get even numbers
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print("Even numbers:", list(even_numbers))  # Output: [2, 4]

## Using Lambda with sorted() to sort the values

In [ ]:
# Example 4: Using lambda to sort a list of tuples by the second element
students = [("Alice", 85), ("Bob", 75), ("Charlie", 95)]
sorted_students = sorted(students, key=lambda student: student[1])
print("Sorted students by scores:", sorted_students)
# Output: [('Bob', 75), ('Alice', 85), ('Charlie', 95)]

## Using Lambda for creating a inline function

In [ ]:
# Example 5: Using lambda for an inline function to add two numbers
add = lambda x, y: x + y
print("Sum of 3 and 7:", add(3, 7))  # Output: 10