In [ ]:
# Arithmetic Operators
x, y = 10, 3
print(x + y, x - y, x * y, x / y, x // y, x % y, x ** y)

In [ ]:
# Comparison Operators
x, y = 10, 3
print(x == y, x != y, x > y, x < y, x >= y, x <= y)

In [ ]:
# Logical Operators
x, y = 10, 3
print(x > 5 and y < 5, x > 15 or y < 5, not (x > 5))

In [ ]:
# Bitwise Operators
x, y = 10, 3
print(x & y, x | y, x ^ y, ~x, x << 1, x >> 1)

In [ ]:
# Assignment Operators
x = 5
print(x)
x += 3
print(x)

In [ ]:
# Membership Operators
fruits = ["apple", "banana"]
print("apple" in fruits, "grape" not in fruits)

In [ ]:
# Identity Operators
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b, a is not c, a == c)